.my-wrapper {
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* min-height: 100vh; */
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: lightgreen; */
}

@media screen and (max-width: 768px) {
    .my-wrapper {
        padding-top: 90px;
        /* background-color: purple; */
    }
}

.form-container h1 {
    color: var(--clr-blue-dark);
    /* font-weight: bold; */
    /* margin: 0; */
}

.overlay-panel p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 30px 0px 40px 0px;
}

.form-container span {
    font-size: 14px;
    line-height: 20px;
    margin: 30px 0px 20px 0px;
    color: var(--clr-blue-dark);
}
@media screen and (min-width: 768px) {
    .form-container span {
        display: none;
    }
}

.container button {
    border-radius: 20px;
    border: 1px solid var(--clr-blue-dark);
    background-color: var(--clr-blue-dark);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.container button:active {
    transform: scale(0.95);
}

.container button:focus {
    outline: none;
}

.container button:disabled {
    background-color: rgba(17, 17, 17, 0.48);
    border: none;
}

.container button.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

.container button.ghost__outline {
    background-color: transparent;
    color: var(--clr-blue-dark);
}
@media screen and (min-width: 768px) {
    .container button.ghost__outline {
        display: none;
    }
}

.form-container form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.form-container input {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.form-container input:focus {
    outline: none;
    box-shadow: 0 0 4px 0 var(--clr-blue-dark);
    background-color: #fff;
}
.form-container input:first-of-type {
    margin-top: 35px;
}
.form-container input:last-of-type {
    margin-bottom: 35px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
@media screen and (max-width: 768px) {
    .container {
        box-shadow: none;
        border-radius: 0px;
        min-height: 100%;
    }
}

/* ------------------------------------------ */
/* FORMS ------------------------------------ */
/* ------------------------------------------ */

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 768px) {
    .form-container {
        transition: all 0.45s ease-in-out;
    }
}

/* Sign In (Log In) ------------------------- */
/* ------------------------------------------ */

.sign-in-container {
    width: 50%;
    left: 0;
    z-index: 2;
}
@media screen and (max-width: 768px) {
    .sign-in-container {
        width: 100%;
    }
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

/* Sign Up (Register) ----------------------- */
/* ------------------------------------------ */

.sign-up-container {
    width: 50%;
    left: 0;
    z-index: 1;
    opacity: 0;
}
@media screen and (max-width: 768px) {
    .sign-up-container {
        width: 100%;
        transform: translateX(-100%);
    }
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}
@media screen and (max-width: 768px) {
    .container.right-panel-active .sign-up-container {
        transform: translateX(0%);
    }
}

/* Keyframes -------------------------------- */
/* ------------------------------------------ */

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

/* ------------------------------------------ */
/* OVERLAY ---------------------------------- */
/* ------------------------------------------ */

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
@media screen and (max-width: 768px) {
    .overlay-container {
        display: none;
    }
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}
@media screen and (max-width: 768px) {
    .container.right-panel-active .overlay-container {
        transform: translateY(100%);
    }
}

.overlay {
    background: var(--clr-blue-dark);
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}
@media screen and (max-width: 768px) {
    .container.right-panel-active .overlay {
        transform: translateY(50%);
    }
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
@media screen and (max-width: 768px) {
    .overlay-panel {
        transform: translateY(0);
    }
}

.overlay-left {
    transform: translateX(-20%);
}
@media screen and (max-width: 768px) {
    .overlay-left {
        transform: translateY(-20%);
    }
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}
@media screen and (max-width: 768px) {
    .container.right-panel-active .overlay-left {
        transform: translateY(0);
    }
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}
@media screen and (max-width: 768px) {
    .overlay-right {
        transform: translateY(0);
    }
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
@media screen and (max-width: 768px) {
    .container.right-panel-active .overlay-right {
        transform: translateY(20%);
    }
}

/* Messages: Error and Success -------------- */
/* ------------------------------------------ */

.__error__message__box {
    border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.__error__message__box p {
    color: red;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.5px;
    width: 100%;
}

.__success__message__box {
    border: 1px solid var(--clr-blue-dark);
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.__success__message__box p {
    color: var(--clr-blue-dark);
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.5px;
    width: 100%;
}
