.__container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    padding: 15px 40px;
}

.__navlinks button {
    margin: 0px 10px;
}

.__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__logo p {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.__logo img {
    width: 30px;
    height: auto;
    margin: 0px 5px 10px 0px;
    padding: 15px auto;
}
