.__container {
    background-color: white;
    display: flex;
    /* display: inline-flex; */
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;    
    z-index: 10;    
}

.__logo{
    width: 200px;
    margin-left: 30px;
    height: auto;
    margin-top: 10px;
    padding: 15px auto;
}






.__container_butt{
    display: flex;
}
.__container_nav{
    margin: 20px 20px;
    justify-content:space-between;
    background-color: rgba(0, 0, 255, 0.7);
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border: transparent;
    color: white;
    cursor: pointer;
    font-family: -apple-system, serif;
    font-size: 16px;
}

.__container_nav:active {
    transform: scale(0.9, 0.9);
}