// This file contains any variables that will be used throughout styles

// --- FONTS
$font-primary: 'Quicksand', sans-serif;

// --- COLORS (segons el disseny de l'Eudald)

// General

$test: rgb(182, 33, 182);

$text-dark: #000000;
$text-medium: rgba(31, 32, 65, 0.75);
$text-medium-equiv-1: #1f2041;
$text-medium-equiv-2: #575770;

$text-light-1: #5E6D7C;
$text-light-2: #818181;

$icons-light: #C0C4C7;

$blue-dark: #17385C;
$blue-medium: #3182CE;
$blue-medium-outline-button: #0770E3;
$blue-light: #EEF6FF;

// Specific

$airline-vueling: yellow;

