* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eef6ff;
}

a,
a:hover {
    text-decoration: none;
}

/* .global_wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    color: red;
} */
