.__container {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 70px;
    background-color: var(--clr-background-blue-light);
    display: flex;
}

.__aside {
    padding: 0 40px;
    width: 260px;
}

.__center {
    width: 842px;
}

.__foundText {
    font-size: 12px;
    margin: 25px 0 17px;
}
