.__container {
    background-color: var(--clr-blue-dark);
    color: white;
    padding: 37px 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 12px;
    width: 842px;
}

.__label {
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: block;
    margin-bottom: 7px;
    text-align: left;
}

.__inputBoxGroup {
    display: flex;
}

.__select {
    color: #000000;
    font-size: 15px;
    width: 156px;
    height: 40px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../../assets/images/searchBox/arrow_select.png');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    padding-left: 10px;
    padding-right: 40px;
}

.__date {
    width: 174px;
}

.__separator {
    width: 50px;
    background-image: url('../../assets/images/searchBox/arrow_separator.png');
    background-position: center;
    background-repeat: no-repeat;
}

.__button {
    background-color: #3182ce;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    color: white;
    padding: 10px 16px;
    font-weight: bold;
    margin-left: 50px;
}
