.__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
}

.__title {
    padding-bottom: 48px;
    color: rgb(255, 254, 254);
    font-size: 37px;
    text-shadow: 2px 2px 2px #324e63;
}

.__container {
    background-color: #02122c;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.__label {
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin: 8px;
    padding: 3px 3px;
}

.__select {
    font-weight: 500;
    color: #324e63;
    font-size: 15px;
    margin: 10px;
    height: 50px;
    border: none;
    border-radius: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    padding-left: 10px;
    padding-right: 40px;
}

.__origin {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #b2b2bf;
}

.__destination {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #b2b2bf;
}

.__airline {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #b2b2bf;
}

.__date {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #b2b2bf;
}

.__inputBox {
    text-align: left;
}

.__button {
    background-color: #01a3e2;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 16px 10px;
    margin: 22px 10px 0px 20px;
    font-weight: bold;
}

.__buttonPassenger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    line-height: 20px;
    border: 1px solid white;
    background-color: #01a3e2;
    color: white;
}

.__inputPassengers {
    display: flex;
    padding-top: 20px;
    margin-left: 10px;
}

.__inputPassengers p {
    font-size: 20px;
    padding: 8px 12px;
}
