* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #4d4d4d;
}

.h1{
  font-size: 16px;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  height: 30px;
  padding: 0 20px;
}

.button-primary {
  background-color: #0171E4;
}

.button-primary:hover {
  background-color:lightblue;
}

.button-primary:active {
  background-color:navy;
}

.button-danger {
  background-color: red;
}

.button-warning {
  background-color: yellow;
}