@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&subset=latin-ext');

html {
    position: relative;
    overflow-x: hidden !important;
}

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #324e63;
}

a,
a:hover {
    text-decoration: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.wrapper {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    padding-top: 170px; /* 100px */
    display: flex;
    background-image: linear-gradient(-20deg, #0169df 0%, #5191da 100%);
}
@media screen and (max-width: 768px) {
    .wrapper {
        height: auto;
        min-height: 100vh;
        padding-top: 100px;
    }
}

.profile-card {
    width: 100%;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 500px;
    position: relative;
}
@media screen and (max-width: 768px) {
    .profile-card {
        max-width: 400px;
    }
}
.profile-card.active .profile-card__cnt {
    filter: blur(6px);
}
.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0.1s;
}
.profile-card.active .profile-card-form {
    transform: none;
    transition-delay: 0.1s;
}
.profile-card__img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 40;
    box-shadow: 0px 5px 50px 0px #0169df, 0px 0px 0px 7px #5191da;
}
@media screen and (max-width: 576px) {
    .profile-card__img {
        width: 120px;
        height: 120px;
    }
}
.profile-card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-card__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all 0.3s;
}
.profile-card__name {
    font-weight: 700;
    font-size: 24px;
    color: #0169df;
    margin-bottom: 15px;
}
.profile-card__txt {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.profile-card__txt strong {
    font-weight: 700;
}

.profile-card-inf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px;
}
.profile-card-inf__item {
    min-width: 150px;
}
@media screen and (max-width: 768px) {
    .profile-card-inf__item {
        padding: 10px 20px;
        min-width: 120px;
    }
}
.profile-card-inf__number {
    font-weight: 700;
    font-size: 27px;
}
.profile-card-inf__txt {
    font-weight: 500;
    margin-top: 7px;
}

.profile-card-ctr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
@media screen and (max-width: 576px) {
    .profile-card-ctr {
        flex-wrap: wrap;
    }
}

.profile-card-ctr-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}


/** BUTTONS **/

.profile-card__button {
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 15px;
    min-width: 170px;
    border-radius: 50px;
    min-height: 45px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all 0.3s;
}
@media screen and (max-width: 768px) {
    .profile-card__button {
        margin: 15px 25px;
    }
}
@media screen and (max-width: 576px) {
    .profile-card__button {
        min-width: inherit;
        margin: 0;
        margin-bottom: 16px;
        width: 100%;
        max-width: 300px;
    }
    .profile-card__button:last-child {
        margin-bottom: 0;
    }
}
.profile-card__button:focus {
    outline: none !important;
}
@media screen and (min-width: 768px) {
    .profile-card__button:hover {
        transform: scale(1.01);
    }
}
/* .profile-card__button:first-child {
    margin-left: 0;
}
.profile-card__button:last-child {
    margin-right: 0;
} */
.profile-card__button.button--blue {
    background: linear-gradient(45deg, #0e71c8, #1da1f2);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.35);
}
.profile-card__button.button--blue:hover {
    box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}
.profile-card__button.button--green {
    background: linear-gradient(45deg, #217008, #0ead31);
    box-shadow: 0px 4px 30px rgba(45, 95, 41, 0.35);
}
.profile-card__button.button--green:hover {
    box-shadow: 0px 7px 30px rgba(45, 95, 41, 0.75);
}
.profile-card__button.button--yellow {
    background: linear-gradient(45deg, #dd6d05, #ecbf41);
    box-shadow: 0px 4px 30px rgba(255, 123, 0, 0.35);
}
.profile-card__button.button--yellow:hover {
    box-shadow: 0px 7px 30px rgba(255, 123, 0, 0.75);
}
.profile-card__button.button--red {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}
.profile-card__button.button--red:hover {
    box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}
.profile-card__button.button--gray {
    background: linear-gradient(45deg, #bebebe, #c4c4c4);
    box-shadow: 0px 4px 30px rgba(94, 94, 94, 0.35);
    color: #1f2a33;
}
.profile-card__button.button--gray:hover {
    box-shadow: 0px 7px 30px rgba(87, 87, 87, 0.75);
}


/** MESSAGE **/


.profile-card-message {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 130px;
    padding-bottom: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

/* traslladada parcialment a box */
.profile-card-form {
    box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 35px;
    transform: scale(0.8);
    position: relative;
    z-index: 3;
    transition: all 0.3s;
}
@media screen and (max-width: 768px) {
    .profile-card-form {
        max-width: 90%;
        height: auto;
    }
}
@media screen and (max-width: 576px) {
    .profile-card-form {
        padding: 20px;
    }
}

.form__button {
    min-width: 110px;
}

.profile-card textarea {
    width: 100%;
    resize: none;
    height: 210px;
    margin-bottom: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px 20px;
    color: #324e63;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    transition: all 0.3s;
}
.profile-card textarea:focus {
    outline: none;
    border-color: #8a979e;
}
.profile-card__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;
    opacity: 0;
    background: rgba(22, 33, 72, 0.35);
    border-radius: 12px;
    transition: all 0.3s;
}
