
/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */
/* Design inspiration:  https://codepen.io/jsarachan/pen/XeaZLR */
/* Design inspiration:  https://codepen.io/jamiehalvorson/embed/KNyRNV?default-tab=result&theme-id=0 */


* {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px !important;
    border: 0.5px;
    border-style: solid;
    border-color: #000;
    border-radius: 25px;

}

body, html {
    // font-family: 'Montserrat', sans-serif;
    // font-size: 10px;
}


/* ELIMINAR QUAN MODEL JA NO CALGUI */
img {
    width: auto;
}




#flight_card_container {
    height: 400px;
    background: grey;
    margin: 10px 10px 60px 10px;
    // margin-bottom: 60px;

    border: 0.5px;
    border-style: solid;
    border-color: #000;
    border-radius: 25px;
    
    // box-shadow: 5px 5px 5px 5px darken(transparent, 0%);
    transition: .25s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;  

    &:hover {
    box-shadow: 1px 1px 1px 1px darken(grey, 2%);
    cursor: pointer;
    transform: translate(5px, 0);

        // .button-primary {
        //     transform: translate(10px, 0);
        //     text-transform: uppercase;

        // }
    }
}



#box_top_airline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0px;

    // height: 80px;
    flex-grow: 1;
    background-color:#01A3E2;

}

#box_top_airline img {
    width: 200px;
    height: auto;
}

#box_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    // height: 220px; // FIXME
    flex-grow: 3;

    background-color:red;

}

#box_left_container, #box_right_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#box_left_container {
    // order: 1;
    flex-grow: 2;
    background-color:lightgoldenrodyellow;

}

#box_right_container {
    // order: 2;
    flex-grow: 1;
    background-color:rgb(6, 77, 82);

    // height: 100%;
    // min-height: 100%;
}

#box_left, #box_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-style: italic;

    // display: block;
    // height: 215px;
}

#box_left{
    // height: 90%;
    background-color:aqua;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    // align-items: center;
    // align-content: center;
    // height: 220px; // FIXME


}

#box_right{
    height: auto;
    // height: 200px;
    background-color:lightblue;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // flex-basis: 10%;

}

#box_left p{
    // height: 50%;
    
    // padding: 10px 10px 10px 10px;
    // margin: 5px 5px 5px 5px;


    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

}

#box_right p{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;


    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

}

#box_left_left {
    // order: 2;
    flex-grow: 1;
    background-color:pink;
    padding: 0px 10px 0px 0px;
    // height: 100%;
    // min-height: 100%;
}

#box_left_left img {
    width: 70px;
    height: auto;
}

#box_left_right {
    flex-grow: 5;
    background-color:lightgreen;


}

#box_left_right_inner {
    background-color:palevioletred;

    display: flex;
    flex-direction: row;

    padding: 10px 10px 10px 10px; //FIXME
    margin: 10px 10px 10px 10px;
}

#box_left_right_inner p {
    padding: 10px 5px;
}

#box_left_right_inner_dpt {
    background-color:lightgrey;
    // padding: 10px 10px 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // flex-basis: 10%;

}

#box_left_right_inner_duration {
    background-color:lightgrey;
    // padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box_left_right_inner_duration img {
    width: 100px;
    height: auto;
}

#box_left_right_inner_arr {
    background-color:lightgrey;
    // padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*************************************/





// .__button-primary {
//   border: none;
//   box-shadow: none;
//   font-family: inherit;
//   background-color:transparent;
//   color: blue;
//   font-size: 15px;
//   transition:.25s;
  
//   i{
//     padding-right:4px;
//   }
// }

// .__button-primary:link, .button-primary:visited{
//     text-decoration:none;
//     background-color:aqua;
// }

// .__button-primary:hover, .button-primary:hover{
//     color: #000;
//     background-color:coral;
// }
