.__container {
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.__logo {
    width: 80px;
}

.__topCard {
    height: 40px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: 8px 17px;
}

.__bottomCard {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 130px;
    align-items: center;
}

.__priceBlock {
    padding-left: 40px;
    border-left: 1px solid #e8e8e8;
}

.__price {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.__scheduleBlock {
    display: flex;

}

.__infoFlight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__time {
    font-size: 16px;
    color: #17385C;
    line-height: 21px;
    font-weight: bold;
    padding-top: 10px;
}

.__iata {
    font-size: 13px;
    color: #818181;
}

.__flight {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #818181;
    font-size: 12px;
    padding: 0 20px;
}

.__flight img {
    padding: 5px 0;
}