/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */
/* Design inspiration:  https://codepen.io/jsarachan/pen/XeaZLR */
/* Design inspiration:  https://codepen.io/jamiehalvorson/embed/KNyRNV?default-tab=result&theme-id=0 */

* {
    // font-family: 'Montserrat', sans-serif;

    // font-size: 15px;
}

#flight_card_container {
    height: 300px;
    margin: 10px 10px 60px 10px;
    color: #324e63;

    border: 0.01px;
    border-style: solid;
    border-color: #01a2e250;
    // border-color: #01a3e2;
    border-radius: 25px;

    // box-shadow: 5px 5px 5px 5px darken(transparent, 0%);
    transition: 0.25s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &:hover {
        box-shadow: 1px 1px 1px 1px darken(grey, 1%);
        // cursor: pointer;
        transform: translate(5px, 0);

        // .button-primary {
        //     transform: translate(10px, 0);
        //     text-transform: uppercase;

        // }
    }
}

#box_top_airline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0px;
    background-color: #01a2e250;
    // background-color: #01a3e2;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    // height: 80px;
    flex-grow: 1;
}

// SOURCE (go to part 3): https://support.awesome-table.com/hc/en-us/articles/115001399529-Use-CSS-to-change-the-style-of-each-row-depending-on-the-content
//FIXME - change background dynamically
.mystatus[data-status='AF'] {
    background-color: red;
}



#box_top_airline img {
    width: 100px;
    height: auto;
    padding-left: 20px;
}

#box_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    // height: 220px; // FIXME
    flex-grow: 3;
}

#box_left_container,
#box_right_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box_left_container {
    // order: 1;
    flex-grow: 2;
    border: none;
    border-right: 0.01px;
    border-right-style: solid;
    border-color: #d4d4d4;
    border-bottom-left-radius: 25px;
}

#box_right_container {
    // order: 2;
    flex-grow: 1;

    // height: 100%;
    // min-height: 100%;
    border-bottom-right-radius: 25px;
}

#box_left,
#box_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    height: 90%;
    // display: block;
    // height: 215px;
}

#box_left {
    // height: 90%;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    // align-items: center;
    // align-content: center;
    // height: 220px; // FIXME
}

#box_right {
    height: auto;
    // height: 200px;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // flex-basis: 10%;
}

#box_left p {
    // height: 50%;

    // padding: 10px 10px 10px 10px;
    // margin: 5px 5px 5px 5px;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

#box_right p {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

#box_left_left {
    // order: 2;
    flex-grow: 1;
    margin: 0px 30px 0px 0px;
    // height: 100%;
    // min-height: 100%;
}

#box_left_left img {
    width: 100px;
    height: auto;
}

#box_left_right {
    flex-grow: 5;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box_left_right_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 10px 10px 10px 10px; //FIXME
    margin: 10px 10px 10px 10px;

    height: 90%;
    width: 320px;
}

#box_left_right_inner p {
    // padding: 10px 5px;
}

#box_left_right_inner_dpt {
    // padding: 10px 10px 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // flex-basis: 10%;
    height: 70%;
}

#box_left_right_inner_duration {
    // padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

#box_left_right_inner_duration img {
    width: 100px;
    height: auto;
}

#box_left_right_inner_arr {
    // padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}

/*************************************/

// .__button-primary {
//   border: none;
//   box-shadow: none;
//   font-family: inherit;
//   background-color:transparent;
//   color: blue;
//   font-size: 15px;
//   transition:.25s;

//   i{
//     padding-right:4px;
//   }
// }

// .__button-primary:link, .button-primary:visited{
//     text-decoration:none;
//     background-color:aqua;
// }

// .__button-primary:hover, .button-primary:hover{
//     color: #000;
//     background-color:coral;
// }

/* _____________________________ */
/* ___________DESIGN____________ */
/* _____________________________ */

/* ELIMINAR QUAN MODEL JA NO CALGUI */

#image_model {
    width: 700px;
}

// #flight_card_container,
// #box_top_airline,
// #box_bottom,
// #box_left_container,
// #box_right_container,
// #box_left,
// #box_right,
// #box_left_left,
// #box_left_right,
// #box_left_right_inner,
// #box_left_right_inner_dpt,
// #box_left_right_inner_duration,
// #box_left_right_inner_arr,
// p {
//     border: 0.5px;
//     border-style: solid;
//     border-color: #000;
//     border-radius: 25px;
// }

// #flight_card_container {
//     background: grey;
// }

// #box_bottom {
//     background-color: red;
// }

// #box_left_container {
//     background-color: lightgoldenrodyellow;
// }

// #box_right_container {
//     background-color: rgb(6, 77, 82);
// }

// #box_left {
//     background-color: aqua;
// }

// #box_right {
//     background-color: lightblue;
// }

// #box_left_left {
//     background-color: pink;
// }

// #box_left_right {
//     background-color: lightgreen;
// }

// #box_left_right_inner {
//     background-color: palevioletred;
// }

// #box_left_right_inner_dpt {
//     background-color: lightgrey;
// }

// #box_left_right_inner_dpt p,
// #box_left_right_inner_duration p,
// #box_left_right_inner_arr p {
//     background-color: darkgreen;
//     color: white;
// }

// #box_left_right_inner_duration {
//     background-color: lightgrey;
// }

// #box_left_right_inner_arr {
//     background-color: lightgrey;
// }

// #box_right p {
//     background-color: darkred;
//     color: white;
// }
