.button {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 15px;
    border-radius: 4px;
    min-height: 45px;
    color: white;
    cursor: pointer;
}

.blue__solid {
    background-color: var(--clr-blue-medium);
}
.blue__solid:hover {
    background-color: var(--clr-blue-medium-hover);
}

.blue__outline {
    border: 1.5px solid var(--clr-blue-medium);
    color: var(--clr-blue-medium);
    font-weight: normal;
}
.blue__outline:disabled {
    border: none;
    color: var(--clr-text-light-3);
    cursor: default;
}
.blue__outline:not(:disabled):hover {
    background-color: var(--clr-blue-medium-hover);
    color: #ffffff;
}

.green__solid {
    background-color: var(--clr-green);
}
.green__solid:hover {
    background-color: var(--clr-green-hover);
}

/* STILL TO BE DEFINED ACCORDING TO DESIGN */

.yellow__solid {
    background: linear-gradient(45deg, #dd6d05, #ecbf41);
    box-shadow: 0px 4px 30px rgba(255, 123, 0, 0.35);
}
.yellow__solid:hover {
    box-shadow: 0px 7px 30px rgba(255, 123, 0, 0.75);
}
.red__solid {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}
.red__solid:hover {
    box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}
.gray__solid {
    background: linear-gradient(45deg, #bebebe, #c4c4c4);
    box-shadow: 0px 4px 30px rgba(94, 94, 94, 0.35);
    color: #1f2a33;
}
.gray__solid:hover {
    box-shadow: 0px 7px 30px rgba(87, 87, 87, 0.75);
}
