.body{
    /* background-color: green; */
}

.__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    min-height: 100vh; 
    padding-top: 150px;
    background-image: linear-gradient(-20deg, #0169dfa2 0%, #5191daa4 100%), url("../../assets/images/globos2.jpg");
    color: white;
}


.__container{
    text-align: center;
    
}

.__logo{
    width: 250px;
    margin-left: 30px;
    height: 45px;
    margin-top: 10px;
    padding: 15px auto;
}

/* .__container__body{
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: linear-gradient(-20deg, #0169dfa2 0%, #5191daa4 100%), url("../../assets/images/globos2.jpg");
    height :100%
} */

.__title{
    align-items: center;
    font-size: 65px;
    font-weight: bolder;
}

/* .__container__gallery{
    display: flex;
    background-color: rgba(99, 107, 111, 0.58);;
    width: 100%;
    height: 60%;
    margin-top: 10px;
    cursor: pointer;
    flex-wrap: wrap;
    box-shadow: 0px 0px 3px 0px rgba(0 0 0 .7);
    overflow: hidden;
} */

/* .__container__img{
    width: 100%;
    display: flex;
    align-items: center;
    object-fit: cover;
} */

/* .__img{
    width: 350px;
    height: 350px;
    margin: 10px 20px;
} */

/* .__container__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 7px;
    background-color: rgba(99, 107, 111, 0.9);
} */


.__container__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: aliceblue;
  
  }
  
  .__container__icon{
    display: inline;
    flex-wrap: wrap;
    flex-direction: row;
    cursor: pointer;
    margin: 0 10px;
    
  }
  
  

