.__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.__container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* FIXME: Borrar línea abajo cuando HOME sea final */
    /* background-color: rgba(255, 0, 242, 0.171); */
    /* FIXME: Borrar línea abajo cuando HOME sea final */
    /* border: 4px dotted red; */
}

.__container h1 {
    color: #000000;
    margin-bottom: 40px;
    /* FIXME: Borrar línea abajo cuando HOME sea final */
    /* background-color: lightcoral; */
}

.__image {
    width: 37vh;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    /* FIXME: Borrar línea abajo cuando HOME sea final */
    /* background-color: blueviolet; */
}

.__footer {
    flex-shrink: 0;
}
