.__container__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 210px;
    /* FIXME: Borrar línea abajo cuando HOME sea final */
    /* background-color: rgba(53, 187, 111, 0.39); */
}

.__container__footer img {
    transform: scale(0.8);
    /* FIXME: Borrar línea abajo cuando HOME sea final */
    /* background-color: lightskyblue; */
}

.__container__footer p {
    font-family: var(--font-tertiary);
    color: var(--clr-text-medium);
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    width: 60%;
    margin-top: 25px;
    margin-bottom: 25px;
    /* FIXME: Borrar línea abajo cuando HOME sea final */
    /* background-color: yellow; */
}

.__container__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 110px;
    /* FIXME: Borrar línea abajo cuando HOME sea final */
    /* background-color: rgb(153, 32, 32); */
}
