.__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 190px 20px 50px 20px;
}
@media screen and (max-width: 768px) {
    .__wrapper {
        height: auto;
        min-height: 100vh;
        padding-top: 190px;
    }
}

.__container {
    width: 100%;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 500px;
    position: relative;
}
@media screen and (max-width: 768px) {
    .__container {
        max-width: 400px;
        /* max-height: 90%; */
    }
}
.__container.active .__content {
    filter: blur(6px);
}
.__container.active .profile-card-message,
.__container.active {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0.1s;
}
.__container.active .profile-card-form {
    transform: none;
    transition-delay: 0.1s;
}
.__image {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 40;
    /* box-shadow: 0px 5px 50px 0px #0169df, 0px 0px 0px 7px #5191da; */
    box-shadow: 0px 5px 50px 0px var(--clr-blue-medium), 0px 0px 0px 7px #5191da;
}
@media screen and (max-width: 576px) {
    .__image {
        width: 120px;
        height: 120px;
    }
}
.__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.__content {
    /* background-color: mediumorchid; */
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all 0.3s;
}
.__userName {
    /* background-color: mediumturquoise; */
    font-weight: 700;
    font-size: 24px;
    color: #0169df;
    margin-bottom: 7px;
}
@media screen and (max-width: 768px) {
    .__userName {
        font-size: 20px;
    }
}
.__userDescription {
    /* background-color: yellow; */
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.__userDescription strong {
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .__userDescription {
        font-size: 14px;
    }
}

.profile-card-inf__number {
    /* background-color: lightcyan; */
    font-weight: 700;
    font-size: 27px;
}
.profile-card-inf__txt {
    /* background-color: lightpink; */
    font-weight: 500;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    .profile-card-inf__txt {
        font-weight: 500;
        margin-bottom: 20px;
    }
}

.profile-card-ctr {
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
@media screen and (max-width: 576px) {
    .profile-card-ctr {
        margin-top: 30px;
        width: 60%;
        margin: auto;
    }
}

.profile-card-ctr-box {
    /* background-color: lime; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 20vh;
    padding: 10px 0px;
}

.profile-card-ctr-box.leftBox {
    /* background-color: red; */
    /* justify-content: center; */
}

.profile-card-ctr-box.rightBox {
    /* background-color: pink; */
    padding: 20px 0px 0px 0px;
}
@media screen and (max-width: 576px) {
    .profile-card-ctr-box.rightBox {
        padding-top: 5px;
    }
}

/** MESSAGE **/

.profile-card-message {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 130px;
    padding-bottom: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

/* traslladada parcialment a box */
.profile-card-form {
    box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 35px;
    transform: scale(0.8);
    position: relative;
    z-index: 3;
    transition: all 0.3s;
}
@media screen and (max-width: 768px) {
    .profile-card-form {
        max-width: 90%;
        height: auto;
    }
}
@media screen and (max-width: 576px) {
    .profile-card-form {
        padding: 20px;
    }
}

.__container textarea {
    width: 100%;
    resize: none;
    height: 210px;
    margin-bottom: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px 20px;
    color: #324e63;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    transition: all 0.3s;
}
.__container textarea:focus {
    outline: none;
    border-color: #8a979e;
}
