/* ------------------------------------------ */
/* WRAPPER ---------------------------------- */
/* ------------------------------------------ */

.__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 190px 20px 50px 20px;
}
@media screen and (max-width: 768px) {
    .__wrapper {
        height: auto;
        min-height: 100vh;
        padding-top: 190px;
    }
}

/* ------------------------------------------ */
/* CONTAINER -------------------------------- */
/* ------------------------------------------ */

.__container {
    width: 100%;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 500px;
    position: relative;
}
@media screen and (max-width: 768px) {
    .__container {
        max-width: 400px;
        /* max-height: 90%; */
    }
}

/* ------------------------------------------ */
/* IMAGE ---------------------------------- */
/* ------------------------------------------ */

.__image {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 40;
    /* box-shadow: 0px 5px 50px 0px #0169df, 0px 0px 0px 7px #5191da; */
    box-shadow: 0px 5px 50px 0px var(--clr-blue-medium), 0px 0px 0px 7px #5191da;
}
@media screen and (max-width: 576px) {
    .__image {
        width: 120px;
        height: 120px;
    }
}
.__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* ------------------------------------------ */
/* CONTENT ---------------------------------- */
/* ------------------------------------------ */

.__content {
    /* background-color: mediumorchid; */
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all 0.3s;
}

/* ------------------------------------------ */
/* USER NAME and DESCRIPTION ---------------- */
/* ------------------------------------------ */

.__userName {
    /* background-color: mediumturquoise; */
    font-weight: 700;
    font-size: 24px;
    color: #0169df;
    margin-bottom: 7px;
}
@media screen and (max-width: 768px) {
    .__userName {
        font-size: 20px;
    }
}
.__userDescription {
    /* background-color: yellow; */
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.__userDescription strong {
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .__userDescription {
        font-size: 14px;
    }
}

/* ------------------------------------------ */
/* ACTION PANEL and BOX --------------------- */
/* ------------------------------------------ */

.__actionPanel {
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
@media screen and (max-width: 576px) {
    .__actionPanel {
        margin-top: 30px;
        width: 60%;
        margin: auto;
    }
}

.__actionPanelBox {
    /* background-color: lime; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 20vh;
    padding: 10px 0px;
}

.__actionPanelBox:last-child {
    /* background-color: pink; */
    padding: 20px 0px 0px 0px;
}
@media screen and (max-width: 576px) {
    .__actionPanelBox:last-child {
        padding-top: 5px;
    }
}

/* ------------------------------------------ */
/* FLIGHT COUNT NUMBER and TEXT ------------- */
/* ------------------------------------------ */

.__flightCountNumber {
    /* background-color: lightcyan; */
    font-weight: 700;
    font-size: 27px;
}
.__flightCountText {
    /* background-color: lightpink; */
    font-weight: 500;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    .__flightCountText {
        font-weight: 500;
        margin-bottom: 20px;
    }
}

/* ------------------------------------------ */
/* ACTIVATE FOR BLURRY BACKGROUND ----------- */
/* ------------------------------------------ */

/* IMPORTANT: add these lines to adminUserProfile.view.js:
    const [isOpen, setIsOpen] = useState(false);
    <div className={`__container ${isOpen ? 'active' : ''}`}>
 */

/* .__container.active .__content {
    filter: blur(6px);
}
.__container.active .profile-card-message,
.__container.active {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0.1s;
}
.__container.active .profile-card-form {
    transform: none;
    transition-delay: 0.1s;
} */
